.group__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    left: 0px;
    top: 14%;
    height: 2px;
    width: 95%;
    transform: translateX(3%);
    background-color: #dbdbdb;
  }
}

.group__new-item {
  display: flex;
  justify-content: flex-end;
}