.contact {
  margin-bottom: 165px;
  max-width: 800px;
  width: 100%;

  @include tablets {
    margin: 0 auto 88px;
    width: 90%;
  }
}

.contact-title {
  margin-bottom: 50px;
  color: $white;

  @include tablets {
    text-align: center;
  }

  @include phones {
    text-align: left;
  }
}
