.footer__column {
  margin-right: 108px;
}

.footer__nav {
  display: flex;
}

.footer__row {
  display: flex;
  margin-bottom: 70px;
}

.footer__descr {
  width: 40%;
}

.footer__title.sub-title {
  color: $white;
  margin-bottom: 34px;
}

.footer__nav-item {
  margin-right: 80px;
}
