.nav__list, .footer__nav-list {
  display: flex;
  color: $grey;
}

// Header
.nav__item {
  margin-right: 20px;
}

// Footer
.footer__nav-item {
  margin-right: 61px;
}

.nav__link:hover, .footer__nav-item:hover {
  color: $white;
}