section.overview {
  background-image: url('../images/content/overview-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overview__contact {
  margin-bottom: 165px;
}