.profile__info {
  position: relative;
}

.profile__img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 80px;
}

.profile__info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.profile__info-item-name {
  margin-right: 103px;
}

.profile__info-item-content {
  color: $white;
  white-space: nowrap;
}
