.scroll {
  display: flex;
  align-items: center;

  background-color: transparent;
  z-index: 10;
}

.scroll__name {
  color: $white;

  &:hover {
    color: #ffffff;
  }
}

.scroll__icon {
  width: 20px;
  min-height: 100%;
  fill: $white;

  &:hover {
    fill: #ffffff;
  }
}

