.scroll {
  z-index: 100;
  display: flex;
  align-items: center;

  background-color: transparent;

  &:hover {
    .scroll__name {
      color: $grey;
    }
    .scroll__icon {
      fill: $grey;
    }
  }
}

.scroll__name {
  color: $white;

  @include tablets {
    color: transparent;
  }
}

.scroll__icon {
  height: 30px;
  fill: $white;

  @include tablets {
    fill: transparent;
  }
}
