.scroll {
  z-index: 100;
  display: flex;
  align-items: center;

  background-color: transparent;

  &:hover {
    .scroll__name {
      color: $grey;
    }
    .scroll__icon {
      fill: $grey;
    }
  }
}

.scroll__name {
  color: $white;
}

.scroll__icon {
  width: 20px;
  min-height: 100%;
  fill: $white;
}
