.skills {
  background-image: url('../images/content/skills-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.skills .container {
  flex-direction: column;
}

.skills__item {
  height: 10px;
}