.socials {
  display: flex;
  white-space: nowrap;
}

.socials__item {
  margin-right: 20px;
  
  &-icon {
    fill: $grey;
    width: 20px;
    min-height: 100%;

    &:hover {
      fill: $white;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

