.portfolio__ {

  &tags-list {
    display: flex;
    margin-bottom: 50px;
  }

  &tags-item {
    margin-right: 20px;

    background-color:rgba(#859fc2, .1);
    border-radius: 32px;

    &:hover {
      background-color:rgba(#004aac, .1);
    }
  }

  &tags-item-form {
    width: 83px;
    height: 45px;
  }

  &tags-item-name {
    padding: 20px;
  }


}