.portfolio__ {

  &tags-list {
    display: flex;
    margin-bottom: 50px;

    @include tablets {
      margin-bottom: 19px;
    }
  }

  &tags-item {
    margin-right: 20px;
    background-color:rgba(#859fc2, .1);
    border-radius: 32px;
  }

  &tags-item-form {
    width: 83px;
    height: 45px;
  }

  &tags-item-name {
    padding: 20px;
  }
}