section.intro.full-screen
  +image('sky', 'intro__bg sky')
  +image('mountains', 'intro__bg mountains')
  +image('train', 'intro__parallax-img train')
  .container

    header.header
      a.home-link(href="https://github.com/positesitesite" alt="Ссылка на гитхаб")
        +icon('portofolio-logo', 'logo')

      nav.nav
        - var list = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
          ul.nav__list
            each item in list
              li.nav__item
                a.nav__link(href="#") #{item}

      nav.nav.tablet
        - var list = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
          ul.nav__list.tablet
            each item in list
              li.nav__item.tablet
                a.nav__link.tablet(href="#") #{item}

      - var socials = ['insta', 'vk', 'github'];
        ul.socials
          each item in socials
            li.socials__item
              a.socials__item-link(target="_blank" href="#")
                +icon(item, 'socials__item-icon')

      .burger-menu
        +icon('burger-menu', 'burger-menu__icon')          

    .intro__content
      h2.intro__sub-title Личный сайт <br>веб разработчика</br>
      h1.intro__title.title Артур Губарь

    a.scroll(href='#about')
      span.scroll__name Скролл
      +icon('scroll', 'scroll__icon')