script(type="text/x-template")#portfolio-section
  section.portfolio
    .container 
      .portfolio__title.sub-title Мои работы
      preview(
        :portfolio="portfolio"
        :currentWork="currentWork"
        :tags="tags"
        @slide="handleSlide"
      )

script(type="text/x-template")#slider-preview
  .portfolio__preview-container
    .portfolio__previewed
      img(:src="currentWork.photo" alt="" class="portfolio__previewed-image") 
      list(
        :portfolio="portfolio"
        :currentWork="currentWork"
      )
      controls(
        @slide="$emit('slide', $event)"
        :currentWork="currentWork"
      )
    description(
      :currentWork="currentWork"
      :portfolio="portfolio"
      :tags="tags"
    )       

script(type="text/x-template")#slider-list
  ul.portfolio__slider-list
    li.portfolio__slider-item(
      v-for="work in portfolio"
      :class="{active: work.id === currentWork.id}"
      )
      a.portfolio__slider-item-wrapper
        img(:src="work.photo" alt="" class="portfolio__slider-item-preview")

script(type="text/x-template")#slider-controls
  //- Slider controls buttons
  .portfolio__slider-control
    button(@click.prevent="$emit('slide', 'next')" type="button").portfolio__slider-control-next
      .portfolio__slider-control-id {{currentWork.id}}
      +icon('arrow-next', 'portfolio__slider-control-next-icon')
    button(@click.prevent="$emit('slide', 'prev')" type="button").portfolio__slider-control-prev
      +icon('arrow-prev', 'portfolio__slider-control-prev-icon')

script(type="text/x-template")#slider-description
  .portfolio__descr              
    ul.portfolio__tags-list
      li.portfolio__tags-item(v-for="tag in tags")
        .portfolio__tags-item-name {{tag}}

    h3.portfolio__descr-title.sub-title {{currentWork.title}}
    .portfolio__descr-text {{currentWork.descr}}
    a.portfolio__descr-link
      +icon('link', 'portfolio__descr-link-icon')
      a.portfolio__descr-link-name(:href="currentWork.link") Посмотреть сайт
