include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Main page
    link(href="./styles/main.pcss", rel="stylesheet", )
  body
    .wrapper

      main.main-content

        include ./blocks/sections/intro

        include ./blocks/sections/about

      #skills
      
      #portfolio

      include ./blocks/sections/overview

      include ./blocks/sections/end

    script(src="main.js" type="text/javascript")

    include ./templates/entry.pug
    