* {
  font-family: 'Open-sans', sans-serif;
}

.wrapper.admin-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
}